<div class="container-show">
  <h1><%= @post.title %></h1>
  <p><%= raw(@post.content) %></p>
  <div class="links">
    <%= link_to 'Back', :back %>
    <% if session[:admin] then %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

